<h2>Editing Book</h2>
<%= form_with model:@book,local:true do |f| %>
  <label for="title">Title</label>
  <div  class="form">
    <%= f.text_field :title%>
  </div>
  <label for="body">Body</label>
  <div  class="form">
    <%= f.text_area :body%>
  </div>
  <%= f.submit "Update Book" %>
<% end %>

<%= link_to "Show",book_path(@book)%>
<%= link_to "Back",books_path %>

